* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* text colors */
  --clr-bg-100: rgb(40, 135, 255);
   /* background colors */
  --clr-text-1: #fff;
  --clr-primary: #2887ff;
  /* padding */
  --padding-5: 5px;
  --padding-10: 10px;
  --padding-15: 15px;
  --padding-20: 20px;
  --padding-25: 25px;
  --padding-30: 30px;
  --padding-40: 40px;
  --padding-50: 50px;
 /* margin */
  --margin-5: 5px;
  --margin-10: 10px;
  --margin-15: 15px;
  --margin-20: 20px;
  --margin-25: 25px;
  --margin-30: 30px;
  --margin-40: 40px;
  --margin-50: 50px;
/* box-shadow */
/* font-sizes */
--fts-s: clamp(1.2rem, 2vw, 2rem);
--fts-reg: clamp(1.5rem, 2vw + 2rem, 2.5rem);
--fts-mid: clamp(2rem, 2.5 + rem2vw, 3rem);
--fts-l: clamp(2rem, 2.5 + rem2vw, 3.5rem);
/* font-Weight */
--ft-w-reg: 500;
--ft-w-bold: 600;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {

 color: var(--clr-text-1);
 font-family: "DM Sans", sans-serif;
}

.hightTowers-con {
    overflow: hidden;
}
 
.flex {
  display: flex;
   align-items: center;
}

.flex--row {
  justify-content: center;
}

.flex--spacebtwn {
  justify-content: space-between;
}

.flex--column {
  flex-direction: column;
}

header {
  padding-bottom: 100px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 100;
    display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  cursor: pointer;
}

.nav-links {
  display: flex;  
  column-gap: 2rem;
  cursor: pointer;
  font-family: inherit;
  font-weight: var(--ft-w-bold);
}



.hamburger-con {
  display: none;
  padding-right: 16px;
  cursor: pointer;
  order: 3;
}
.hamburger {
  width: 24px;
  height:24px;
  background: transparent;
  border: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.ham {
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hamburger-con:hover .btn2 {
 opacity:0
}

.hamburger-con:hover .btn1 {
  transform: rotate(45deg) translate(7px, 7px);
}
.hamburger-con:hover .btn3 {
  transform: rotate(-45deg) translate(7px, -7px);
}





.bookBtn {

  color:inherit;
  padding: 12px 2rem;
  outline: none;
  border: 1px solid var(--clr-primary);
  background: none;
  border-radius: 30px;
  font-weight: var(--ft-w-bold);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  white-space: nowrap;

}
.btn-primary {
  color: var(--clr-text-1);
  background-color: var(--clr-primary);
  padding-block: 15px;
  font-weight: var(--ft-w-reg);
}
.header-btn {
    display: none;
}

section {
  padding-inline: 16px;
}
.hero-con {
  background-image: url('/images/header-bg.jpg');
  background-position: center;
  border-radius: 50px;
 
}

.hero {
  padding: 64px 16px;
   text-align: center;
   color: black;

}

.hero p {
  font-weight: var(--ft-w-bold);
  


}

.hero h1 {
  font-size: 4.5rem;
  font-weight: var(--ft-w-bold);
  line-height: 88px;
  margin-block: 32px;
  
}

.white {
  color: var(--clr-text-1);
}
.blue {
  color: var(--clr-primary)
}
.bookTrip-con {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;

}
.play {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  background-color: white;
  z-index: 10;
}
.play::before {
  position: absolute;
  content: '';
  background: var(--clr-bg-100);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.play::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 6px 5px;
  border-color:  transparent transparent#fcfcfc transparent;
  
  top: 50%;
  left: 53%;

  transform: translate(-50%, -50%) rotate(90deg);
}

.hero-image img {
  display: flex;
  width: 100%;
}




@media (max-width: 767px) {
  nav {

  height: 80px;
  padding: var(--padding-15);
  column-gap: 2rem;
  font-weight: var(--ft-w-bold);
  background: var(--clr-bg-100);
  color:var(--clr-text-1); 
  position: fixed;
  right: 0;
  left: 0;
  transition: all 0.30s ease;
  background-attachment: scroll;
  }
  .nav-links {
  display: none;
  flex-direction: column;
  row-gap: 2rem;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  background: var(--clr-bg-100);
  padding: var(--padding-20);  
  font-weight: 500;
}

 .hamburger-con {
  display: block;
  }

  .hamburger-con:hover +  .nav-links {
  display: flex;
  transform-origin: top center;
  transition: all 0.20s;
  animation: dropDown 0.30s forwards;

 
}

}


@media (width > 768px ) {
  nav {
    position: static;
    max-width: 1200px;
    padding: 2rem 1rem;
    row-gap: 32px;
    background-color: initial;
    color: var(--clr-primary)
  }
  
.btm {
  display: none;
}
.nav-links {
  justify-content: space-between;
  align-items: center;
}

.header-btn {
  appearance: auto;
  display: flex;
}

}



@keyframes dropDown {
  from {
    transform: translateY(-100%)
  }
 
  to {
    transform: translateY(25%)
  }

}