* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

:root {
  /* text colors */
  --clr-bg-100: rgb(40, 135, 255);
   /* background colors */
  --clr-text-1: #fff;
  --clr-text-1a: #737373;
  --clr-text-0: #0a0a0a;
  --clr-primary: #2887ff;
  /* padding */
  --padding-5: 5px;
  --padding-10: 10px;
  --padding-15: 15px;
  --padding-20: 20px;
  --padding-25: 25px;
  --padding-30: 30px;
  --padding-40: 40px;
  
 /* margin */
  --margin-5: 5px;
  --margin-10: 10px;
  --margin-15: 15px;
  --margin-20: 20px;
  --margin-25: 25px;
  --margin-30: 30px;
  --margin-40: 40px;
  
/* box-shadow */
--b-shadow:  rgba(0, 0, 0, 0.2) 5px 5px 20px;
/* font-sizes */
--fts-xs: clamp(1rem, 2vw, 1.5rem);
--fts-s: clamp(1.2rem, 2vw, 2rem);
--fts-norm: clamp(1.5rem, 2vw, 2.3rem);
--fts-reg: clamp(1.5rem, 2vw + 2rem, 2.5rem);
--fts-mid: clamp(2rem, 2.5rem + 2vw, 3rem);
--fts-l: clamp(2rem, 2.5rem + 2vw, 3.5rem);
--fts-h1: clamp(3rem, 4rem + 1vw, 5rem);
/* font-Weight */
--ft-w-reg: 500;
--ft-w-bold: 600;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {

 color: var(--clr-text-1);
 font-family: "DM Sans", sans-serif;
 line-height: 1.5;
}

.hightTowers-con {
  overflow: hidden;

}
 
.flex {
  display: flex;
   align-items: center;
}

.flex--row {
  justify-content: center;
}

.flex--spacebtwn {
  justify-content: space-between;
}

.flex--column {
  flex-direction: column;
  
}

nav {

  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
}

.logo {
  cursor: pointer;
} 

.nav-links {
  display: flex;
  column-gap: 2rem;
  
  font-family: inherit;
  font-weight: var(--ft-w-bold);
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1) .10, opacity 1s cubic-bezier(0.4, 0, 0.2, 1).10;
}

.nav-links a {
  color: var(--clr-primary);
  display: inline-block;
  cursor: pointer;
  transition: transform .4s ease-in-out;
    
}

.nav-links a:hover, .nav-links a:focus {
  transform: scale(1.2);
}




.hamburger-con {
  display: none;
  cursor: pointer;
  order: 3;
  transition: all .10s ease-in;
}

.hamburger {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: column;
 
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.ham {
  width: 20px;
  height: 2px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all .10s  ease-in;
   
}
.btn1, .btn2 {
  margin-bottom: 5px;
}

.isOpen .btn2 {
 opacity:0;
}

.isOpen .btn1 {
  transform: rotate(45deg) translate(5px, 5px);
}
.isOpen  .btn3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

.hamburger.active {
  transform: rotate(90deg) scale(1.1);
  color: #0077ff;
}





.bookBtn {

  color:inherit;
  padding: 12px 2rem;
  outline: none;
  border: 1px solid var(--clr-primary);
  background: none;
  border-radius: 30px;
  font-weight: var(--ft-w-bold);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  white-space: nowrap;
    cursor: pointer;
}


.btn-primary {
  color: var(--clr-text-1);
  background-color: var(--clr-primary);
  padding: 15px 30px;
  font-weight: var(--ft-w-reg);
  font-size: var(--fts-s);
  cursor: pointer;
}
.header-btn {
    display: none;
      cursor: pointer;
}



.hero-wrapper {

  position: relative;
  overflow: hidden;
  isolation: isolate;  
  line-height: 1.1;
}

.hero-wrapper::before {
  position: absolute;
  content: "";
  height: 100%;
  width: calc(100% - 1.9rem);
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(images/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center center;
  border-radius: 3rem;

}

.hero-con {
  display: grid;
  padding-inline: 1px;
}


.hero {

  padding: 75px 1rem;
   text-align: center;
   color: black;

}

.hero p {
  font-weight: var(--ft-w-bold);
  font-size: var(--fts-xs);
  
}



.hero h1 {
  font-size: 2.5rem;
  font-weight: var(--ft-w-bold);
  margin-block: 20px 40px; 
  
}



.white {
  color: var(--clr-text-1);
}
.blue {
  color: var(--clr-primary)
}
.bookTrip-con {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;


  transition: background-color 0.4s ease-in-out;
}
.bookTrip:hover, .bookTrip:focus  {
  background-color: rgb(11, 102, 212);
}

.play {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  position: relative;
  background-color: white;
  z-index: 10;
  transition: background-color 0.4s;
  cursor: pointer;
}
.play:hover, .play:focus {
   background-color: var(--clr-primary);
}

.play::before {
  position: absolute;
  content: '';
  background: var(--clr-bg-100);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

 .play:hover::before, .play:focus::before {
  background-color: white;
}

.play::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 6px 5px;
  border-color:  transparent transparent#fcfcfc;
  top: 50%;
  left: 53%;

  transform: translate(-50%, -50%) rotate(90deg);
}

.play:hover::after, .play:focus::after {
border-color:  transparent transparent var(--clr-primary);
}

.hero-image img {
  display: flex;
  width: 100%;

}


.sect {
  padding-top: 4.5rem;
    color: var(--clr-text-0);
 
}
.destination-con {
  text-align: center;

}
.sect-header{
    padding-block: 4rem;
}
.sect-header h2 {
  font-size: var(--fts-norm);
}

.sect-header p {
  font-size: var(--fts-xs);
}

.article-grid {
  display: grid;
  align-items: start;
  padding-inline: 1rem;
  gap: 2rem 1rem;
}


.destination-img img {
  border-radius: 2rem;
  max-width: 100%;
  box-shadow: var(--b-shadow);
}


  .desc-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  column-gap: 30px;
  font-size: var(--fts-xs);
  padding-block: var(--padding-10) var(--padding-50);
  padding-inline: 10px ;
  
}
  .rating {
  display: flex;
  align-items: center;
  background: var(--clr-primary);
  padding: 0 10px;
  color: var(--clr-text-1);
  border-radius: 20px;
}

.rating::before {
  content: '\2605'; 
  color: white;

  margin-right: 0.2em;
}

.journey-con {
  color: black;
  padding:2rem;
}


.journey-grid {
  display: grid;
  gap: 60px;
  
}


.journey-article {
  position: relative;
  background:  #f3f4f6;
  padding: 1.2rem;
  border-radius: 1rem 1rem 0 0;
 
  cursor: pointer;

}
.journey-header {
  margin-bottom: 30px;
}

.journey-bg span i {
  font-size: 24px;
  color: var(--clr-primary);
}


.journey-bg p {
  margin-top: 4rem;
  font-weight: var(--ft-w-bold);
}





.appear {
  position: absolute;
  background-color: var(--clr-primary);
  left: 0;
  right: 0;
  bottom: 0;
  top: -60px;
  padding: var(--padding-30) ;
  color: var(--clr-text-1);
  border-radius: 20px 20px 0 0 ;
  opacity: 0;
  z-index: 1;
  transition: all 0.40s .2s;
  transform: translateY(50%);
  pointer-events: none;

}
.journey-article:hover   .appear {
  opacity: 1;
  transform: translateY(5%);
}


.journey-icon i {
  
  padding: var(--padding-10);
  border: 2px solid #ffff;
  border-radius: 50%;
  color: #ffff;
  
}

.appear h3 {
  margin-block: var(--padding-20);
  font-size: 14px;
}
.appear p {
  font-size: 12px;
}




.enjoy-grid {
  display: grid;
  padding: 2rem;
}
.enjoy-img-con {
  display: flex;
}

.enjoy-img-con img {
  width: 100%;
  box-shadow: var(--b-shadow);

}
.enjoy-desc h2 {
  padding-block: var(--padding-20);

}

.enjoy-desc p {
  margin-bottom: var(--margin-20);
  color: var(--clr-text-1a);
  font-size: 12px;
}

.enjoy-desc .psec {
  margin-bottom: var(--margin-40);
}




.caption-book {
  text-align: center;
  background: url(images/header-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: var(--padding-15);
  font-size: var(--fts-s);
  font-weight: var(--ft-w-bold);
  white-space: nowrap;
  

}
.caption-book button {
  border:  none;
  font-size: inherit;
  font-weight: inherit;
  background: none;
}
.caption-book i {
  color: black
}


.card-sect {
  padding: 5rem 3rem;
  margin-inline: auto;
}
.card-grid {
 display: grid;
 gap: 2rem;

}

.card {
  background-color: #f3f4f6;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 2rem;
  font-weight: 500;
}
.card p {
  color: var(--clr-text-1a)
}

.card h4 {
   font-size: 5rem;
   color: var(--clr-primary);
}


.discover-con,.testimonials-con {
padding-inline: 2rem;
}


.discover-head {
  padding-block: 3rem;
}
.discover-head p {
  color: var(--clr-text-1a);
}

.discover-grid {
  display: grid;
  gap: 2rem;

}

.discover-card {
  border: 1px dotted var(--clr-primary);
  border-radius: 1rem;
  text-align: center;
  padding: 2rem;
  transition: all 0.4s;
  cursor: pointer;
 
}

.discover-card:hover {
  box-shadow: var(--b-shadow);
}

.discover-card span {
  display: inline-block;
  background-color: rgba(40, 135, 255, 0.1);
  padding: 10px 15px;
  border-radius: 50%;
}

 i {
  color: var(--clr-primary);
  font-size: 24px;
}

.discover-card h4 {
  font-size: 1.2rem;
   margin-block: 20px;
  max-width:  150px;
  margin-inline: auto;
  font-weight: 700;
}
.discover-card p {
  font-size: 14px;
}

.testimonial-card {
  padding: 5px;
  background-color:#f3f4f6 ;
  border-radius: 1rem;
  transition: background-color 0.4s;

}
.testimonial-card:hover {
   background-color: var(--clr-primary);
}

.swiper {
  margin-inline: auto;
 
  overflow: hidden;
  list-style: none;
  padding: 0;
 
}

.swiper-wrapper {
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
  scroll-snap-type:x mandatory;
}



.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
  min-height: 350;
  min-width: 375px;
   height:350px;
}

.swiper-slide:active {
  background-color: var(--clr-primary);
}

.testimonial-content {
  background: #ffff;
  padding: 1rem;
  border-radius: 1rem;
  
}
.testimonial-content  i{
  font-size: 14px;
  color: var(--clr-primary);
}
.testimonial-content p {
  margin-top: 20px;
}
.profile {
  display: grid;
  grid-template-columns: 60px 1fr;
  padding: 1rem;
  gap: 20px;
  align-items: center;
}


.profile img {
  max-width: 100%;
  border-radius: 50%;
}

.profile h4 {
font-size: 14px;
}

.profile h5 {
  color: var(--clr-text-1a);
  font-size: 12px;
  font-weight: 500;
}

footer {
  background-color: #f3f4f6;
  margin-top: 4rem;
  color: black;
  
}
 
.footer-con {
  padding: 3rem;
  display: grid;
  padding-bottom: 6rem;
}

.footer-logo {
  padding-block: 2rem;
  font-size: 1.8rem;

}
a {
  text-decoration: none;
    color: black
}
footer p {
  color: var(--clr-text-1a);

}

.footer__socials {
  display: flex;
  gap: 1rem;
  margin-block: 2rem  4rem;
}
.footer__socials i {
  background: var(--clr-primary);
  border-radius: 50%;
  color: #ffff;
  padding: 10px 10px;
  transition: background-color 0.4s;
}

.footer__socials i:hover {
  background-color: rgb(11, 102, 212) ;
}

footer h4 {
  font-size: 1rem;
   padding-block: 1.6rem;
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--clr-text-1a);
}

footer i {
  color: var(--clr-text-1a);
  
}

form {
  display: grid;
  
  gap: 1rem;
   
}
form input, form button {

  padding-block: 14px;

  border-radius: 5px;
 
}
form input {
  margin-top: 1rem;
  border: 1px solid gray;

}
form input::placeholder {
  padding: 10px;
}
form button {
  background-color: var(--clr-primary);
  color: var(--clr-text-1);
  border: none;
}

.footer__bar {
  color: var(--clr-text-1a);
  text-align: center;
  padding: 20px;
  font-size: 1rem;
}
.isAnimateHero  p, .isAnimate .enjoy-desc h2 {
   animation: BTT 0.60s .5s ease forwards;
}

.isAnimateHero h1, .isAnimate .enjoy-desc .pone, .isAnimate .card-one {
   animation: BTT 0.70s .7s ease forwards;
}
.isAnimateHero  .bookTrip-con, .isAnimate .enjoy-desc .psec, .isAnimate .card-two {
   animation: BTT 0.80s .8s ease forwards;
}

.isAnimateHero  .bookTrip-con, .isAnimate .enjoy-desc .caption-book, .isAnimate .card-three {
   animation: BTT .90s 1s ease forwards;
}
.isAnimate .hero-image {
  animation: RTL 2s .30s ease forwards;
}

.isAnimate .enjoy-img-con {
  animation: LTR 2s  ease forwards;
}







@keyframes BTT {
  from {
    transform: translateY(80%);
    opacity: 0;
  }
  to {
    transform: translate(0);
     opacity: 1;
  }
}

@keyframes RTL {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
     opacity: 1;
  }
}
@keyframes LTR {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
     opacity: 1;
  }
}

@media (width > 540px) {
 .grid {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .hero h1 {
  font-size: 2.5rem;
  }
  
  .journey-grid {
    row-gap: 80px;
  }
  .appear {
    top: -90px;

  }

  .enjoy-grid {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
  }
  .card-grid, .discover-grid {

   gap: 2rem;

}

.footer-con {
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  
}
.col-contact {
  order: 4;
}
 
}
@media (max-width: 767px) {
  header {
  position: fixed;
    background: var(--clr-bg-100);
    width: 100%;
    z-index: 200;
  }
  .hero h1 {
  font-size: 3rem;
  }
  nav {

  padding: var(--padding-15);
  column-gap: 2rem;
  font-weight: var(--ft-w-bold);
  color:var(--clr-text-1); 
  position: relative;
  right: 0;
  left: 0;
  transition: all 0.30s ease;
  background-attachment: scroll;
  
  
  }

  .nav-links {
  
  flex-direction: column;
  row-gap: 2rem;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  background: var(--clr-bg-100);
  padding-block: 30px; 
  font-weight: var(--ft-w-bold);
  font-size: var(--fts-xs);
  transform: translateY(-100%);
  visibility: hidden;
  display: flex;
}

.nav-links.active {
  transform: translateY(16%);
  visibility: visible;
}

.nav-links a {
  color: white;
  
}
.btn {
  transition: background-color .4s ease-in-out;
}
.btm a {
  background: white;
  padding: 15px 20px;
  border-radius: 30px;
  color:var(--clr-primary);
  font-weight: var(--ft-w-bold);
  transition: all .4s ease-in-out;
}


.btm a:hover, .btm a:focus {
  background-color: var(--clr-primary);
  box-shadow: var(--b-shadow);
  color: white;
  transform: scale(1);
}

 .hamburger-con {
  display: block;
  }

main {
 margin-top: 80px;
}


  
}




@media (width > 768px ) {
  header {
   margin-bottom: 0;
  }
  .nav-con {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero h1 {
  font-size: 4.5rem;
  
  }
  
  nav {
    position: static;
    max-width: 1200px;
    padding: 2rem 1rem;
    row-gap: 32px;
    background-color: initial;
    color: var(--clr-primary);
    align-items: center;
  }
  
.btm {
  display: none;
}
.nav-links {
  justify-content: space-between;
  align-items: center;
}

.header-btn {
  appearance: auto;
  display: flex;
  
}

.header-btn a {
  color: var(--clr-primary);
  transition: all 0.15s ease-in-out;

}

.header-btn:hover, .header-btn:focus, .btm:hover, .btm:focus {
  background-color: var(--clr-primary);
  
}
.header-btn:hover a, .btm a:hover, .btm a:focus {
  color: white;
}



.hero-wrapper {
  padding: 32px 16px 10px 16px;
  
}
.hero-con {
  grid-template-columns: minmax(0, 1fr) repeat(5, minmax(0, calc(1200px / 5))) minmax(0, 1fr);
}
.hero {
  text-align: left;
  grid-column: 2 / 4;


}
.hero-image {
  position: relative;
  isolation: isolate;
  grid-column: 4 / 8;

  
}
.hero-image img {
  width: unset;
  height: 100%;
  overflow: clip;
  overflow-clip-margin: content-box;
}

.bookTrip-con {
  justify-content: start;
}
.play {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
}
.play::before {
    gap: 30px;
  
   
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .article-grid {
    padding-inline: 4rem;
  }
 
  .journey-grid {
    padding-inline: 0;
  }
  .enjoy-grid {
    grid-template-columns: 1fr 2fr;
  }

  .col-sub {
  order: 4;
}
 .card-grid,.discover-grid {
     gap: 2rem;
    padding-inline: 0;
  }
  .footer-con {

    grid-template-columns:2fr 1fr 1fr 1.5fr;
    
    gap: 1rem;

}




}

@media (width > 1200px) {
  .hero {
    padding-inline: 1rem 0px;
  }
 .grid {
   
    gap: 3rem;
    padding-inline: 6rem;
  }
  .sect {
    max-width: 1200px;
    margin-inline: auto;
  }
  .journey-grid,.discover-grid, .card-grid {
    gap: 1rem;
    padding-inline: 0;
    
  }
   .card-grid {
      gap: 2rem;
    padding-inline: 0;
   }



 
}



